In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import seaborn as sns

In [16]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("C:/Users/souga/OneDrive/Documents/train.csv")
train_df.head()

,ID,date,Price,lake_view,num_of_bedrooms,construction_year,renovation_year,interior_sqft,num_of_bathrooms,basement_sqft,storeys,attic_sqft,garage_sqft,luxuary_index
0,77316913,02/26/2019,4914000.0,0,2,1941,0,800,1.00,0,1.0,800,7150,5
1,77470823,05/25/2019,9126000.0,0,4,1974,0,1870,2.00,0,1.0,1870,7700,8
2,40285757,04-06-2019,41839200.0,0,4,1975,0,2420,2.50,0,1.0,2420,18480,9
3,23224959,07/16/2018,14882400.0,0,3,1981,0,1980,1.75,0,1.0,1980,6760,8
4,55313253,07/29/2018,26676000.0,0,5,2014,0,5330,3.75,1760,2.0,3570,6000,10

In [17]:
X = train_df.drop(columns=['Price','ID','date'])
Y = train_df['Price']
X

,lake_view,num_of_bedrooms,construction_year,renovation_year,interior_sqft,num_of_bathrooms,basement_sqft,storeys,attic_sqft,garage_sqft,luxuary_index
0,0,2,1941,0,800,1.00,0,1.0,800,7150,5
1,0,4,1974,0,1870,2.00,0,1.0,1870,7700,8
2,0,4,1975,0,2420,2.50,0,1.0,2420,18480,9
3,0,3,1981,0,1980,1.75,0,1.0,1980,6760,8
4,0,5,2014,0,5330,3.75,1760,2.0,3570,6000,10
...,...,...,...,...,...,...,...,...,...,...,...
17272,0,3,1930,0,1660,2.00,690,1.0,970,3729,7
17273,0,4,2013,0,2423,2.50,0,2.0,2423,7292,8
17274,0,4,1983,0,1400,1.50,0,2.0,1400,8500,7
17275,0,3,1947,0,1830,1.75,820,1.0,1010,5488,7
17276,0,5,1964,0,2320,1.75,1160,1.0,1160,8100,7

In [60]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.1)

In [61]:
reg = LinearRegression()
reg.fit(X_train,Y_train)

LinearRegression()

In [62]:
test_prediction = reg.predict(X_test)
actual_dataprice = Y_test

In [63]:
print(mean_squared_error(actual_dataprice, test_prediction))

31897438153753.945

In [64]:
id = test_df["ID"]
test_df_priceprediction = test_df.drop(columns=["date","ID"]) #the test dataset which we'll feed to the 
predicted_price = reg.predict(test_df_priceprediction)

In [65]:
predicted_price

array([ 8913176.83852509,  5698132.75818479, 24929470.64130521, ...,
       15218589.25319722,  8809549.70479351, 22110195.09070498])

In [66]:
submission_df = pd.DataFrame()
submission_df["ID"] = id
submission_df["Price"] = predicted_price
submission_df.set_index("ID", inplace = True)

In [67]:
submission_df.head()

                 Price
ID
95282983  8.913177e+06
84081131  5.698133e+06
81690641  2.492947e+07
67637179  5.189707e+06
15254729  1.863474e+07

In [68]:
submission_df.to_csv("submission - Rishav Mitra.csv")

In [69]:
reg.score(X_test,Y_test)

0.6800732325631449